<template lang="pug">

div
  b-container(style="height:100vh;" fluid="")
    b-row(class="h-100" style="background:rgba(192,192,192,0.8);")
      b-col(cols="6")
        div(class="tab-container-flex" style="height:94vh;padding-left:1em;margin-top:3vh;")
          //b-card(style="margin-bottom:1em;")
            template(slot="header")
              h4(style="display:inline;margin-left:1rem;") KAMAZ Pathfinder
            //b-row
              span Text
            //b-row
              b-col
                span(style="font-weight:bold;color:green") ---
                span global path
                br
                span(style="font-weight:bold;color:red") ---
                span local path
          GmapMap(@click="clickOnMap($event)" :center="{lat:51.097889, lng:71.400804}" :zoom="18" map-type-id="satellite" style="width: 100%; height: 100%")
            GmapMarker(:key="index" v-for="(m, index) in userpath_gps" :position="m" )
            GmapMarker(:position="truck_pos_gps" icon="/static/truck-icon.png")
            GmapPolyline(:path="globalpath" :options="{strokeColor:'green'}" v-if="globalpath")
            GmapPolyline(:path="localpath_gps" :options="{strokeColor:'red'}" v-if="localpath_gps")
      b-col(cols="6")
        div(style="height:95vh;margin-right:1em;")
          b-card(no-body="" style="margin-top:3vh;height:94vh;")
            b-tabs(card="" class="h-100 tab-container-flex" content-class="tab-full-height")
              b-tab(nobody="" title="Cameras" class="h-100")
                b-container(class="tab-container-flex h-100" fluid="" style="padding:0")
                  b-row
                    b-col
                      b-card-group(deck="")
                        b-card(header="WebSocket")
                          b-form
                            b-form-group
                              b-radio(v-model="ros_obj.ws_connected" switch size="lg" disabled) ROS connection
                            b-form-group
                              b-input(v-model="ros_obj.host")
                            b-form-group
                              b-button(@click="connectToROS()" variant="info" style="width:100%") Reconnect

                        b-card(header="Path Builder")
                          b-form
                            b-form-group
                              b-checkbox(v-model="setpath" switch size="lg") Marker Dropping
                            b-form-group
                              b-button(@click="clearMarkers()" variant="warning" style="width:100%") Clear Marker
                            b-form-group(label="Orientation:")
                              b-form-radio-group(v-model="orientation_idx")
                                b-form-radio(value="0") &#8593;
                                b-form-radio(value="1") &#8594;
                                b-form-radio(value="2") &#8595;
                                b-form-radio(value="3") &#8592;
                            ///b-form-group
                              b-button(@click="removeLastMarker()" variant="info" :disabled="userpath_gps.length==0"  style="width:100%") Remove Last Marker
                        b-card(header="Vehicle Control")
                          b-form
                            b-form-group
                              b-button(@click="publishUserPath()" variant="primary" style="width:100%") Publish Endpoint
                            b-form-group
                              b-button(@click="publishStopSignal()" variant="danger" style="width:100%") Stop
                            b-form-group
                              b-button(@click="updateTruckPositionManually(1,1)" variant="info" style="width:100%") Test Move

                  b-row
                    b-col
                      hr
                      b-card-group(deck="")
                        b-card(header="Extra Informaiton")
                          p
                            ol
                              li Connect to ALTEL router with Ethernet
                              li Connect to KAMAZ-Mikrotik WiFi AP
                              li Set static IP to WiFi interface (e.g. 172.16.0.222) with no default gateway. This interface should be used for it's network only
                              li Ping 172.16.0.20/172.16.0.30 to check connectivity with local infrastructure
                              li Connect Websocket

              b-tab(nobody="" title="Telemetry" class="h-100")



</template>

<script>

import roslib from 'roslib';
import {computeDestinationPoint} from 'geolib';
import {getDistance} from 'geolib';
import {getRhumbLineBearing} from 'geolib';
// const geolib = require('geolib');
import _ from 'lodash';

export default {
  name: 'KAMAZ',
  data () {
    return {
      setpath: false,
      ros_obj: {
        ros: null,
        ws_connected: false,
        host: '172.16.0.50',
        markers_publisher: null,
        gps_listener: null,
        globalpath_listener: null,
        localpath_listener: null
      },
      orientation_idx: 0,
      userpath_rtk: [],
      userpath_gps: [],
      globalpath: [],
      localpath_gps: [],
      localpath_rtk: [],
      origin: {lat: 51.096212, lng: 71.396347},
      truck_pos_rel: {lat:0, lng:0, alt: 0},
      truck_pos_gps: {}
    }
  },

  methods: {
    updateTruckPositionManually: function(lat, lng) {
      console.log('updating Truck Position');
      this.truck_pos_rel.lat+=lat;
      this.truck_pos_rel.lng+=lng;
      this.updatePosAndPath();
    },
    clickOnMap: function(event){
      if(this.setpath){
        this.placeMarker(event.latLng.lat(), event.latLng.lng());
      }
    },
    clearMarkers: function(){
      this.userpath_gps = [];
    },
    removeLastMarker: function(){
      this.userpath_gps.pop();
    },
    placeMarker: function(lat, lng){
      if(this.userpath_gps.length==0)
        this.userpath_gps.push({'lat':lat, 'lng':lng});
    },
    publishUserPath: function(){
      console.log('publishing user path:');
      let pose = this.convertToRTK(this.userpath_gps[0]);
      let orientations = [{w:0.777,x:0,y:0,z:0.629},
                          {w:0.995,x:0,y:0,z:-0.105},
                          {w:-0.629,x:0,y:0,z:0.777},
                          {w:0.105,x:0,y:0,z:0.995}];
      /*console.log({
        pose: {
          position:{
            x:pose.x-5,
            y:pose.y+18,
            z:pose.z
          },
          orientation: orientations[this.orientation_idx]
        }
      });*/
      let poseStamped = new roslib.Message({
        header: {
          frame_id: "map"
        },
        pose: {
          position:{
            x: pose.x - 5,
            y: pose.y + 18,
            z: pose.z
          },
          orientation: orientations[this.orientation_idx]
        }
      });
      console.log(poseStamped);
      this.ros_obj.markers_publisher.publish(poseStamped);
    },
    connectToROS: function(){
      if(this.ros_obj.ros != null){
        if(this.ros_obj.gps_listener != null){
          this.ros_obj.gps_listener.unsubscribe();
        }
        if(this.ros_obj.globalpath_listener != null){
          this.ros_obj.globalpath_listener.unsubscribe();
        }

        if(this.ros_obj.localpath_listener != null){
          this.ros_obj.localpath_listener.unsubscribe();
        }
      }

      var self = this;

      this.ros_obj.ros = new roslib.Ros({
        url: "ws://"+this.ros_obj.host+":9090"
      });
      this.ros_obj.ros.on("connection", function() {
        console.log("-----Connected to websocket server.");
        self.ros_obj.ws_connected = true;
      });
      this.ros_obj.ros.on("error", function(error) {
        console.log("---------Error connecting to websocket server: ", error);
      });
      this.ros_obj.ros.on("close", function() {
        console.log("------------Connection to websocket server closed.");
        self.ros_obj.ws_connected = false;
      });

      this.ros_obj.gps_listener = new roslib.Topic({
        ros: this.ros_obj.ros,
        name: "/SC/state",
        messageType: "common_msgs/State"
      });

      this.ros_obj.globalpath_listener = new roslib.Topic({
        ros: this.ros_obj.ros,
        name: "/move_base/GlobalPlanner/plan",
        messageType: "nav_msgs/Path"
      });

      this.ros_obj.localpath_listener = new roslib.Topic({
        ros: this.ros_obj.ros,
        name: "/move_base/TebLocalPlannerROS/local_plan",
        messageType: "nav_msgs/Path"
      });

      this.ros_obj.gps_listener.subscribe(function(message) {
        self.truck_pos_rel.lat = message.position.y-18;
        self.truck_pos_rel.lng = message.position.x+5;
        self.updatePosAndPath();
      });

      this.ros_obj.globalpath_listener.subscribe(function(message){
        // console.log(message);
        self.globalpath = [];
        for(let i in message.poses){
          let pos = message.poses[i].pose.position;
          self.globalpath.push(self.convertToGPS(pos.x+5, pos.y-18));
        }
      });

      this.ros_obj.localpath_listener.subscribe(function(message){
        // console.log(message);
        self.localpath_rtk = [];
        /*for(let i in message.poses){
          len = message.poses.length
          // if ((i == 0) || (i == len/2) (i == (len-1))) {
            let pos = message.poses[i].pose.position;
            self.localpath_rtk.push(self.convertToGPS(pos.x+5, pos.y-18));
          // }
        }*/
        let d = Math.floor(message.poses.length/5);
        for(let i=0;i<5;++i){
          let pos = message.poses[i*d].pose.position;
          self.localpath_rtk.push({x:pos.x+5, y:pos.y-18});
        }
        self.updatePosAndPath();
      });

      this.ros_obj.markers_publisher = new roslib.Topic({
        ros: this.ros_obj.ros,
        name: "/move_base_simple/goal",
        messageType: "geometry_msgs/PoseStamped"
      });
    },
    setGlobalPath: function(gpath){
      this.globalpath = [];
      for(let i in gpath){
        this.globalpath.push(gpath[i]);
      }
    },

    publishStopSignal: function(){
      console.log('publishing stop signal');
    },

    convertToGPS: function(x,y){
      let bearing = Math.atan2(x, y)*180/Math.PI;
      let distance = Math.hypot(x, y);
      let cords = computeDestinationPoint(this.origin, distance, bearing, 6356356.27);
      return {lat:cords.latitude, lng:cords.longitude};
    },

    convertToRTK: function(gps){
      let distance  = getDistance(this.origin, gps, 0.01);
      let angle = getRhumbLineBearing(this.origin, gps)*Math.PI/180;
      let x_dist = distance*Math.sin(angle);
      let y_dist = distance*Math.cos(angle);
      return {x:x_dist, y:y_dist, z:356};
    },

    updatePosAndPath: _.throttle(function(){
      console.log('throttled truck pos update');
      this.localpath_gps = [];
      for(let i in this.localpath_rtk){
        this.localpath_gps.push(this.convertToGPS(this.localpath_rtk[i]));
      }
      this.truck_pos_gps = this.convertToGPS(this.truck_pos_rel.lng, this.truck_pos_rel.lat);
    }, 300)
  },

  created: function(){
    this.updatePosAndPath();
  }
}
</script>

<style>
.device-action-btn {
  display: block !important;
  margin-bottom: 0.5em;
}

.tab-container-flex {
  display: flex;
  flex-direction: column;
}

.tab-full-height {
  flex-grow: 1;
}

</style>
