<template lang="pug">
div
  b-navbar(toggleable="md" style="background-color:#f9f9f9")
    b-navbar-toggle(target="nav_collapse")
    b-navbar-brand(is-nav="" href="#")
      img(src="../assets/img/confia-idp.png" height="32px")
    b-collapse(is-nav="" id="nav_collapse")
      b-navbar-nav
        b-nav-item(href="#") FlowChart
        b-nav-item(href="/#/wizard") Wizard
        // b-nav-item(href="/#/wizard2") Wizard2
        //b-nav-item(href="/#/login" v-if="!isLoggedIn") Login
        b-nav-item-dropdown(text="Administration")
          b-dropdown-item(href="#") Users
          b-dropdown-item(href="#") Customers
      b-navbar-nav(class="ml-auto")
        b-nav-form
          b-form-input(size="sm" class="mr-sm-2" type="text" placeholder="Search")
          b-button(size="sm" class="my-2 my-sm-0" type="submit") Search
  b-container(fluid="")
    b-row
      b-col
        router-view
</template>

<script>
import auth from '../auth'

export default {
  name: 'HelloWorld',
  data () {
    return {
      isLoggedIn: auth.user.authenticated,
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
